/* ------------------------------ General Page Styles ------------------------------ */  
aside {
    background-color: #9FD8CB;
    margin-top: 20px;
    padding: 20px;
    width: 30%;
    height: max-content;
    border-radius: 20px;
    
}
aside p{
    margin-top: 5px;
}

section {
    padding: 20px;
    width: 100%;
  }
/* ---------------------------- All Figures ---------------------------- */  
figure {
    margin: auto auto;
    text-align: center;
}
figure img {
    width: 95%;
    border-radius: 20px;
}
figcaption {
    text-align: center;
    font-weight: bold;
}


/* ---------------------------- Gallery ---------------------------- */  
div {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
div img{
    height: 300px;
    width: 300px;
}
