/*
  Author: Andy Sun
  CS 132 Spring 2024
  Date: 4/12/24

  This is the styles.css page for my Akita website. It is used by both pages so that
  common elements like the navigation bar have a consistent appearance. It creates a 
  minimalistic style using light blue.
*/

body, main {
  display: flex;
}

body {
  background-color: #D6E5E3;
  font-family: Montserrat, sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column; 
}

body > header, footer {
  text-align: center;
}

h1 {
	padding: 20px;
  margin: 0px;
}

/* nav bar */  
nav li {
  display: inline;
  list-style-type: none;
  background-color: #87BBA2;
  border-radius: 5px;
  padding: 10px;
}

a:link{
  color: #364958;
  text-decoration: none;
}

a:hover{
  color: #608099;
}

footer {
  background-color: #9FD8CB;
  font-style: italic;
  margin-top: 50px;
  border-radius: 20px;
}

